<!-- Launch all the cameras -->
<launch> 

<arg name="map_resolution" default="0.01"/>
<arg name="record_only" default="false"/>
<arg name="offline" default="false"/>
<arg name="calibrate" default="false"/>

<!-- First camera -->
<include file="$(find ccny_openni_launch)/launch/single_camera.launch">
	<arg name="cam_id"  value="1" />
	<arg name="map_resolution" value="$(arg map_resolution)"/>
	<arg name="record_only" value="$(arg record_only)"/>
	<arg name="offline" value="$(arg offline)"/>
	<arg name="calibrate" value="$(arg calibrate)"/>		
</include>

<!-- Second camera  -->
<include file="$(find ccny_openni_launch)/launch/single_camera.launch">
	<arg name="cam_id"  value="2" />
	<arg name="map_resolution" value="$(arg map_resolution)"/>
	<arg name="record_only" value="$(arg record_only)"/>
	<arg name="offline" value="$(arg offline)"/>
	<arg name="calibrate" value="$(arg calibrate)"/>		
</include>

  <!-- static transforms-->
  <node pkg="tf" type="static_transform_publisher" name="cam1_map_cam1_odom_tf"
        args="0 0 0 0 0 0  /world /cam1/odom 40" />        


<!-- <node pkg="tf" type="static_transform_publisher" name="cam2_map_cam2_odom_tf"
        args="-0.4926 0.1396 -0.0649 -0.5695 -0.0886 -0.0730 /world /cam2/odom 40" /> -->


 <!--<node pkg="tf" type="static_transform_publisher" name="cam2_map_cam2_odom_tf"
        args="0.494 0.146 0.032 0.5744 0.0350 0.1093  /world /cam2/odom 40" />   -->
</launch>
