<!-- Launch one camera -->
<launch> 

<arg name="cam_id" default="1" />
<arg name="calibrate" default="false"/>
<arg name="map_resolution" default="0.01"/>

<group ns="cam$(arg cam_id)" >
	<!-- Openni Driver and RGBD processing -->
	<include file="$(find ccny_openni_launch)/launch/openni_modified.launch">
		<arg name="publish_cloud"  value="true" />
		<arg name="device_id" value="$(arg cam_id)" />
		<arg name="calibrate" value="$(arg calibrate)"/>
	</include>
		    
	<!-- Visual odometry 
	<include file="$(find ccny_rgbd)/launch/visual_odometry.launch">  
		<arg name="cam_name" value="cam$(arg cam_id)" />     		
	</include> -->
	<!-- Visual odometry and mapping-->
	<include file="$(find ccny_rgbd)/launch/vo+mapping.launch">  
		<arg name="cam_name" value="cam$(arg cam_id)" />     
		<arg name="map_resolution" value="$(arg map_resolution)"/>		
	</include> 

</group>
      


</launch>
